body {
    background-color:lightblue
}

#piros {
    background-color:indianred;
    width: 150px;
}

#kek {
    background-color: blue;
    width: 75%;
}

#zold {
    background-color: green;
    width: 75vw;
}

#lila {
    background-color: purple;
    height: 100px;
}

#sarga {
    background-color: yellow;
    height: 20vh;
}

#szegely {
    background-color: orange;
    /* border-style: dotted;
    border-width: 2.5px;
    border-color: red; */
    border: 2.5px solid red
}

#vegyes {
    background-color: aqua;
    border-right: 2px dashed black;
    border-bottom: 5px yellow dotted;
}

#kulsomargo {
    background-color: blue;
    margin-top: 20px;
    margin-left: 40px;
}

#felso-doboz ~ div {
    width: 40%;
    height: 40px;
}

#felso-doboz {
    background-color: lightgray;
    width: 50%;
}